<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anahi.irupana">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/title_activity_menu_principal" />
        <activity
            android:name=".ElegirTipoDeRegistroActivity"
            android:label="tipo de registro" />
        <activity
            android:name=".RegistroDeTiendaActivity"
            android:label="tipo de registro" />
        <activity
            android:name=".RegistroDeClienteActivity"
            android:label="tipo de registro" />
        <activity
            android:name=".BarrasActivity"
            android:label="Barras" />
        <activity
            android:name=".CafeActivity"
            android:label="cafe" />
        <activity
            android:name=".MielActivity"
            android:label="miel" />
        <activity
            android:name=".PanActivity"
            android:label="pan" />
        <activity android:name=".barraChocolate" />
        <activity android:name=".barrasFrutosRojos" />
        <activity android:name=".barrasAjonjoli" />
        <activity android:name=".barrasCoco" />
        <activity android:name=".CarritoActivity" />
        <activity
            android:name=".TiendaActivity"
            android:label="@string/title_activity_tienda"></activity>
    </application>

</manifest>